*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;

    width: inherit;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 2rem;
    z-index: 999;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.choices {
    display: flex;
    gap: 0.5rem;
}

.choices > button {
    padding: 10px 20px;
}

.player-prompts {
    display: flex;
    gap: 1rem;
}

.player-prompts > label {
    text-align: center;
}

.nav-btns {
    display: flex;
    gap: 0.5rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle.center {
    border: 1px solid black;
}

.middle.left, .middle.right{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top.center, .bottom.center{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.space:hover {
    background-color: rgba(0, 0, 0, 0.055);
}

.difficulty-options {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.difficulty-options > button {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
}

.game-results {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.game-overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    
}

.result-text {
    padding: 1.5rem 4rem;
    font-size: 2.5rem;
    background-color: white;
    border: 2px solid black;
    cursor: default;
    transform: scale(0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.end-buttons {
    pointer-events: none;
    opacity: 0;

    display: flex;
    gap: 1rem;
}

.end-buttons > button {
    padding: 0.5rem;
}


@keyframes overlay-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes text-animation {
    0% { transform: scale(0); }
    100% { transform: scale(1) }
}

@keyframes buttons-animation {
    0% { opacity: 0; }
    100% { opacity: 1; pointer-events: all; }
}

.game-overlay.active {
    animation: overlay-animation 1.75s forwards;
    z-index: 10;
}

.result-text.active {
    animation: text-animation 0.5s 1.75s forwards;
    z-index: 20;
}

.end-buttons.active {
    animation: buttons-animation 0.5s 3s forwards;
    z-index: 20;
}

footer {
    background-color: #C4C4C4;
    color: black;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    width: 100vw;
    min-height: 50px;
    margin-top: 1.5rem;
    position: absolute;
    bottom: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-family: inherit;
    color: inherit;
    flex: 1;
    text-align: center;
}

footer > p > a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

footer > a {
    position: absolute;
    right: 1rem;
    transition: all 0.4s;

    display: flex;
    align-items: center;
}

footer > a:hover {
    transform: rotateY(180deg);
}